<style>
  
    #searchbar {
    border: 1px solid grey;
    border-radius: 5px;
    outline: 0;
    background-color: #f5f5f5;

    outline: 0;
      box-sizing: border-box;
      user-select: none;
      transition: background 120ms ease-in 0s;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      white-space: nowrap;
      height: 28px;
      border: none;
      background: white;
      fill: white;
      line-height: 1.2;
      padding: 6px;
      font-size: 14px;
      font-weight: 500;

      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  }

  #searchbar:hover {
    border: 1.5px solid #009688;
    background-color: white;
  }

  #searchbar:focus {
    border: 1.5px solid #009688;
    background-color: white;
  }

  #hiddenFileNames {
    display: none;
  }




  button {
      outline: 0;
      box-sizing: border-box;
      user-select: none;
      transition: background 120ms ease-in 0s;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      white-space: nowrap;
      height: 28px;
      border: none;
      background: white;
      fill: white;
      line-height: 1.2;
      padding: 6px;
      font-size: 14px;
      font-weight: 500;

      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

    }
    
    button:hover {
      background-color: lightgray;
      color: black;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;

      display: none;
    }

    button:focus {
      outline: none;
      box-shadow:none;
      background-color: lightgray;
      color: gray;
      background: lightgray;
    }




</style>


<div>
    <a class="internal-link" href="/"><b>{{ site.title }}</b></a>
    <input id='searchbar' style="display: block; float: right;" type="text" placeholder="Search Notes Files" onkeyup="searchFiles()" onclick="activateNotesLinks()" onblur="hideNotesLinks()">
</div>



<script>
  function activateNotesLinks() {
    document.getElementById('hiddenFileNames').style.display = "block";
}

  function hideNotesLinks(){
    setTimeout(function() {
      document.getElementById('hiddenFileNames').style.display = "none";
    }, 100);
  }

  function searchFiles() {
    input = document.getElementById('searchbar').value.toLowerCase();

    ul = document.getElementById("hiddenFileNames");
    li = ul.getElementsByTagName('li');
    console.log("typed search");
    for (i = 0; i < li.length; i++) {
      txtValue =  li[i].innerHTML.toLowerCase();
      console.log(txtValue)
      if(txtValue.indexOf(input) > -1){
        li[i].style.display = "";
      }
      else{
        li[i].style.display = "none";
      }
    }
  }

  function getNoteYAML(note_path){
    fs.readFile(note_path, 'utf8', (err, data) => {
      console.log(data)
    });
  }
</script>

<ul id='hiddenFileNames' style=" text-align: center; list-style-type: none;">
  <h1> Notes Files</h1>
  {% for note in site.notes %}
  {% assign size = note.path | size %}
  <li>
    <a href="{{ note.url }}" class="internal-link">{{ note.title}} {{note.tree_state}}</a>
  </li>
  {% endfor %}
</ul>
